.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
!application/config/development/

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
application/vendor/
vendor/
assets/js/*
!assets/js/lib/*

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*
node_modules/
.env

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
