<ul class="dropdown-menu dropdown-menu-right animated bounceInDown" aria-labelledby="dropdown-notification">
  <h6 class="dropdown-header">Notificaciones</h6>
  <li class="dropdown-item"><a href="#">Averias</a></li>
  <li class="dropdown-item"><a href="#">Instalaciones</a></li>
  <li class="dropdown-item"><a href="#">Deudores</a></li>
  <li> <a class="text-center" href="javascript:void(0);"> <strong> Todas </strong> <i class="fa fa-angle-right"></i> </a></li>
</ul>
