<ul class="dropdown-menu dropdown-menu-right animated bounceInDown" aria-labelledby="dLabel">
  <li><p><router-link to="/cuenta"><i class="material-icons">person</i><b>{{ user.fullname }}</b></router-link></p></li>
  {% if (user.type == 0) %}
  <li><router-link to="/administrador">
      <i class="material-icons">settings</i>Configuración</router-link>
  </li>
  {% endif %}
  <li><a href="{{url}}auth/do_logout">
      <i class="material-icons">power_settings_new</i> Cerrar Sesión</a>
  </li>
</ul>
