*
  margin: 0
  padding: 0
  box-sizing: border-box

header
  height: 90px
  display: flex
  justify-content: flex-end
  padding: 0 50px
  flex-direction: column
  margin-bottom: 20px 

.brand
  display: flex
  flex-direction: row
  overflow: hidden
  width: 20%

  h1,h2,h3,h4,h5,h6
    margin: 0
    width: 50%

.user-div
  width: 100%
  display: flex
  flex-wrap: nowrap
  justify-content: flex-end
  align-items: center
  text-align: right
  padding-right: 30px
  overflow: hidden

  .material-icons
    color: $contrast-color 
    margin-left: 5px

.header-low
  display: flex
  list-style: none
  justify-content: flex-start
  width: 100%
  height: 50%


nav
  display: flex
  list-style: none
  justify-content: flex-end
  width: 60%
  margin: 0 30% 0 0
  height: 100%

.user-controls
  width: 20%
  text-align: right
  padding-right: 40px
  margin: 0 0
  overflow: hidden

.glyphicon
  padding: 0 10px

.navButton
  +size(100%,100%)
  overflow: visible

  a
    display: block
    padding: 10px 5% 0 5%
    text-align: center
    width: 100%
    height: 100%
    font-size: 18px
    border-radius: 4px 4px 0 0

    
    &:hover
      text-decoration: none

.section-title
  margin-top: 0
  padding-top: 0
  text-align: center

.badge
  position: absolute
  left: 0
  top: 0

.screen
  margin-top: -20px 

.searcher
  +size(85%,38px)
  border-radius: 4px
  padding: 2px 15px
  border: 2px solid #ccc
  transition: all ease .3s
  font-size: 24px
  color: #999
  margin: 0 7.5%
  position: relative
  &:focus
    border: 2px solid $contrast-color
    outline: none

  &:hover
    border: 2px solid transparentize($contrast-color,.2)
    outline: none

  &:after
    content: 'Hola'
    position: absolute
    right: 55%
    top: 0
    +size(50px,100%)
    z-index: 200

.busquedas,.table
   +size(85%,38px)
   margin: 30px 7.5% 0 7.5%
   
   &.t-users
    width: 100%

.table
  margin-top: 2px
  border-radius: 3px 4px 0 0
  
.right
  text-align: right

input,
select
  &.form-control
  height: 42px
  border-radius: 2px
  font:
    size: 18px
    weight: bolder
  color: #888



.company-details
  // +card()
  margin: 10px
  padding: 25px 50px
  width: 100%
  position: absolute
  top: 5px
  left: -110%
  height: 80vh

form
  margin-top: 20px