//
// Add whatever variables you would like made available to the whole app
//
$tomato: #FF6961
$foreverblue: dodgerblue
$solitude: #E9EEF6 
$alice-blue: #F8FBFE 
$slice-grey: #677E92
$fiord: #4E5962 
$another-blue: darken(#6cd1da,20%)
$summer-sky: #1FA1D0 
$complement: #D14F1F 

$primary-color: $fiord
$contrast-color: $summer-sky
$light-color: #eee
$text-light-color: #ddd
$soft-blue: #F7F9FB
$body-bg-color: $alice-blue

$color-navbuttons: darken($primary-color,1%)