//
// Add whatever variables you would like made available to the whole app
//
$tomato: #FF6961
$foreverblue: dodgerblue

$primary-color: #272727
$contrast-color: $foreverblue
$light-color: #eee
$text-light-color: #ddd


$color-navbuttons: darken($primary-color,1%)