.login-body 
  background: #fdfdff

  .login-box
    height: 80vh
    margin-top: 10vh
    display: flex
    justify-content: center
    align-items: center
    

    div
      margin-right: 5%
      color: $primary-color

    .vertical-line
      background: $contrast-color
      width: 5px
      height: 10vh

    input[type='submit']
      background: $contrast-color
      width: 95%
      color: white
      margin: 10px 0

      &:hover
       background: darken($contrast-color, 5%) 

    input
      border-radius: 0 0 0 0
      font-weight: bolder
      min-width: 250px

      &:hover,
      &:focus


.copyrights
  color: $primary-color
  height: 10vh
  text-align: center
  p
    margin: 0
  
.splash-screen
  top: 0
  left: 0
  color: #fff
  +makeFlex(100%,column,center,center)
  background: $contrast-color
  position: absolute
  height: 100vh
  animation: fadeSplash 3s 

.splash-logo
  width: 300px

@keyframes fadeSplash
  0%
    opacity: 1
  60%
    opacity: 1
  100%
    opacity: 0




  