// components cards
[class*='card'],
.shortcut
  border-radius: 6px
  padding: 20px
  overflow: hidden

.main-card
  +card(1)
  +makeFlex(65.5%,column,flex-start,flex-start)
  color: #666
  padding: 0 0 0 0
  height: 319px
  margin-right: 3%
  .row
    +makeFlex(100%,row,space-between,flex-start)
  .card-title
    color: #555

.details-card
  background: $contrast-color
  color: white
  text-align: center
  +size(31.5%,319px)
  padding: 0 0 0 0

.list-nextpayments
  +size(100%,205px)

.shortcuts-container
  +makeFlex(100%, row, null, flex-start)
  margin-left: 0
  margin-right: 0

.shortcut
  +makeFlex(33%,column,center,center)
  height: 200px
  cursor: pointer
  +card
  color: $contrast-color
  transition: all ease .3s
  &:hover
    border: 2px solid  $contrast-color
    color: #fff
    background: $contrast-color
    

  &:nth-child(2)
    margin: 0 3%
  
  i
    font-size: 90px
    margin-bottom: 10px

.welcome-screen
  margin-bottom: 10px
  +makeFlex(100%, row, flex-start, flex-start)
  margin-left: 0
  margin-right: 0




// company
.h3-4
  font-size: 16px
  margin: 2px
  font-weight: bolder
  b
    color: $contrast-color
    margin-right: 5px
.writtings
  margin-bottom: 20px
.company-data
  width: 30%
.company-logo
  width: 100%
  border-radius: 6px
.company-name
  width: 100%

.welcome-data
  width: 60%