// components cards
[class*='card'],
.shortcut
  border-radius: 4px
  padding: 20px
  overflow: hidden

.main-card
  +card(1)
  +makeFlex(65.5%,column,flex-start,flex-start)
  color: #666
  padding: 0 0 0 0
  height: 319px
  margin-right: 3%
  .row
    +makeFlex(100%,row,space-between,flex-start)
  .card-title
    color: #555

.details-card
  background: $contrast-color
  color: white
  text-align: center
  +size(31.5%,319px)
  padding: 0 0 0 0
  position: relative

.list-nextpayments
  +size(100%,205px)

.shortcuts-container
  +makeFlex(65.5%, row,null, flex-start)
  padding: 15px 0

.shortcut
  +makeFlex(24%,column,center,center)
  +card
  height: 150px
  cursor: pointer
  color: $contrast-color
  transition: all ease .3s
  margin: 0 1%
  font-size: 20px
  &:hover
    border: 2px solid  $contrast-color
    color: #fff
    background: $contrast-color
  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0
  
  i
    font-size: 50px
    margin-bottom: 10px

.welcome-screen
  margin-bottom: 10px
  +makeFlex(100%, row, flex-start, flex-start)
  margin-left: 0
  margin-right: 0

  .day
    font:
      size: 90px
    color: $contrast-color
    position: relative
    padding: 0
    margin: 0

    &:after
      content: ' '
      +size(60px,5px)
      background: $contrast-color
      position: absolute
      right: -55px
      top: 70%

  .month-year
    color: $contrast-color
    font-size: 18px
  .date-conteiner
    position: relative
  .dayweek
    display: block
    width: 60px
    padding: 10px 1px
    text-align: center
    position: absolute
    right: -40px
    top: 25%
    color: #fff
    font-weight: bolder
    background: $contrast-color
    box-sizing: border-box

// company
.h3-4
  font-size: 16px
  margin: 2px
  font-weight: bolder
  b
    color: $contrast-color
    margin-right: 5px
.writtings
  margin-bottom: 20px
.company-data
  width: 30%
.company-logo
  width: 211px
  border-radius: 6px
.company-name
  width: 100%

.welcome-data
  width: 60%

  .col
    padding: 0 0 0 0