header
  background-color: $primary-color
  color: $text-light-color 
  border-bottom: 2px solid $contrast-color

  span
    color: $contrast-color

  .navButton
    a 
      color: $text-light-color

      &:hover,
      &.active
        color: white
        background: $contrast-color 
        box-shadow: inset 1px 2px 3px rgba(0,0,0,.4)

    

  .user-controls .navButton
    a
      color: $text-light-color
      +size(41px,41px)
      &:hover
        color: $contrast-color
        background: transparent
        box-shadow: none
    &:first-child
      position: relative


// table theme
table 
  border: 1px solid #ccc
  border-radius: 4px
  position: relative
  button
    @extend .btn
    background: #ccc
    border-radius: 10px
    text-transform: lowercase
    color: #fff
    font-size: 12px
    line-height: 0
    height: 30px
thead
  border: none
  tr
    background: $contrast-color
    color: #fff
      
tfoot
  background: $solitude
  color: #888
  select
    height: 28px
    font:
      size: 16px
      weight: normal
  .next-page,.previous-page
    font-size: 30px
    cursor: pointer
    &:hover
      color: $contrast-color
  .max-limit
    display: none
th 
  height: 42px
  &:last-child
    border-radius: 0 4px 0 0
  &:first-child
    border-radius: 4px 0 0 0
tbody
  max-height: 220px 
  width: 100%
  overflow: auto
  tr
    cursor: pointer
    background: #fdfdfd
    color: #555
    font-weight: bolder
    &:nth-child(2n)
      background: #fafafa
    &:first-child
      box-shadow: inset 0 3px 4px rgba(0,0,0,.2)
    &:hover
      background: transparentize(#888,.7)
    &.selected
      background: lighten($contrast-color,25)
      color: #555
      &:hover
        color: #555
.table>tbody>tr>td
  padding-top: 15px

.table.caja
  thead tr
    background: $primary-color
  tfoot tr
    background: white

  // Cards
.card-title
  +size(100%,48px)
  padding: 6px 0 0 25px 
  margin: 0 0 10px 0
  border-radius: 4px 4px 0 0
  box-shadow: 0 2px 3px rgba(0,0,0,.2) 

// horas

.seconds
  color: #999


.mylists
  .table
    border: none
    margin-top: 25px
  thead
    height: 58px
    tr
      background: $primary-color
      color: #fff
  tbody tr
    &:first-child
      box-shadow: none