header
  background-color: $primary-color
  color: $text-light-color 
  border-bottom: 2px solid $contrast-color

  span
    color: $contrast-color

  .navButton
    a 
      color: $text-light-color

      &:hover
        color: white
        background: $color-navbuttons 
        box-shadow: inset 1px 2px 3px rgba(0,0,0,.4)

  .user-controls .navButton
    a 
      color: $text-light-color
      &:hover
        color: $contrast-color
        background: trasparent
        box-shadow: none


// mudules theme
table 
  border: 1px solid #aaa
  text-align: center

  th 
    text-align: center
    background: $contrast-color
    color: white
    border-right: 1px solid white