.left-navigation
  padding: 50px 0
  box-shadow: 2px 0px 4px rgba(0,0,0,.4)
  height: 100vh

.main-content
  padding: 50px 0

.row
  margin-left: 0
  margin-right: 0

.aside-nav
  list-style: none


.left-navigation.administrador
  background: $primary-color
  .aside-buttons
    a
      color: white

body,
html
  overflow: hidden