.left-navigation
  padding: 50px 0
  box-shadow: 2px 0px 4px rgba(0,0,0,.4)
  height: 100vh

.main-content
  padding: 50px 0
  height: 100vh

.row
  margin-left: 0
  margin-right: 0

.aside-nav
  list-style: none


.left-navigation.administrador
  background: $primary-color
  .aside-buttons
    a
      color: white



.section-player
  margin-top: -50px
  +size(100%, 100vh)
  overflow-x: hidden
  position: relative

  h3
    margin-bottom: 30px
  .table,.busquedas
    margin-left: 0

.toast
  +size(100%,100px)
  position: absolute
  background: transparent
  left: 0
  bottom: 5vh
  display: none
  opacity: 0
  justify-content: center
  align-items: center
  z-index: 3000

  span
    +makeFlex(fit-content,row,center,center)
    min-height: 50px
    min-width: 30%
    padding: 0 10px
    background: rgba(0,0,0,.3)
    border-radius: 4px
    font-size: 20px
    color: white