.reports
  background: $body-bg-color

.small-data-card
  +makeFlex(30%,row,center,center)
  +size(30%,68px)
  margin: 0 5px
  font:
    size: 20px
    weight: bolder
  box-shadow: 2px 2px 2px 2px transparentize(#272727,.9)
  background: #fff
  border: 2px solid #ccc
  color: #555

  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

  .material-icons
    color: $contrast-color

  .data
    color: lighten($primary-color,20%)
    margin-right: 5px

.shortcuts-container.data-card-container
  width: 100%

.chart
  +size(92%,370px)
  box-shadow: 2px 2px 2px 2px transparentize(#272727,.9)
  background: white
  border: 2px solid #ccc
  padding: 10px 25px

.right-panel
  text-align: center
  background: #fff
  color: #555