.company-details
  margin: 10px
  padding: 25px 50px
  width: 100%
  position: absolute
  top: 5px
  height: 80vh

.left-navigation.administrador
  background: $primary-color
  .aside-buttons
    a
      color: white

.section-player
  margin-top: -30px
  +size(100%, 100vh)
  overflow-x: hidden
  position: relative

  .section-title
    margin-bottom: 15px
    padding: 0 2%
    text-align: left
  .table,.busquedas
    margin-left: 0
  .pull-right.search
    display: none

@media (max-width: 768px)
  .section-player
    width: 100%
    height: fit-content
    position: static

  .company-details
    margin: 0
    padding: 0 0
    width: 100%;
    position: static
    height: fit-content

  form
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  [type="submit"]
    width: 100%

  .right
    text-align: center


